

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>设置我的资料</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/imageUpload.css" media="all">
</head>
<body ng-app="project_base" ng-controller="userInfoController" ng-init="getUserInfo()">

  <div class="layui-fluid info-page">
    <div class="layui-row layui-col-space15 user-info">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">设置我的资料</div>
          <div class="layui-card-body" pad15>
            
            <div class="layui-form userInfoForm" lay-filter="userInfoForm">
              <div class="layui-form-item">
                <label class="layui-form-label">头像</label>
                <div class="layui-input-inline user-avatar-box">
                  <img class="layui-icon user-avatar" id="LAY_avatarSrc" src="../../api/getPicture?attachId={{user.user_icon}}" alt="头像">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                  <input type="text" name="user_ name" ng-model="user.user_name" placeholder="请输入真实姓名" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">昵称</label>
                <div class="layui-input-inline">
                  <input type="text" name="nick_name" ng-model="user.nick_name" autocomplete="off" placeholder="请输入昵称" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                  <input type="radio" name="sex" value="1" title="男">
                  <input type="radio" name="sex" value="0" title="女" checked>
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">婚否</label>
                <div class="layui-input-block">
                  <input type="radio" name="marry_flag" value="1" title="已婚">
                  <input type="radio" name="marry_flag" value="0" title="未婚" checked>
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">手机</label>
                <div class="layui-input-inline">
                  <input type="text" name="phone" ng-model="user.phone" lay-verify="phone" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                  <input type="text" name="email" ng-model="user.email" value="" lay-verify="email" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                  <textarea name="remark" ng-model="user.remark" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="infoSubmit">确认修改</button>
                  <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                </div>
              </div>

              <!-- 编辑头像面板 -->
              <div class="canvas-panel">
                <img class="canvas-bg"/>
                <div class="canvas-shade"></div>
                <canvas class="canvas-crop"></canvas>
              </div>
              <div class="canvas-group layui-btn-group">
                <button class="upload-close layui-btn layui-btn-primary layui-btn-sm">取消</button>
                <button class="upload-btn layui-btn layui-btn-primary layui-btn-sm">保存</button>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../../layuiadmin/js/common/commonJs.js"></script>
  <script src="../../layuiadmin/js/plugins/jquery/jquery.mousewheel.min.js"></script>
  <script src="../../layuiadmin/js/controller/user/UserInfoController.js"></script>
  <script src="../../layuiadmin/js/service/user/UserInfoService.js"></script>
</body>
</html>